<div class="editSensor">
  <!-- <div  class="form">
    <form (submit)="onSubmit()">
      <input type="text" name="name" [(ngModel)]="sensor.sensor_Name" placeholder="Name" onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Name'" >
      <input type="submit" name="Save" value="Submit">
    </form>
  </div> -->
  <div>
    <div *ngFor="let sensor of sensors;let i=index ">
      <form (submit)="onSubmit()">
        <input type="text" name="name" [(ngModel)]="sensor.sensor_Name" placeholder="Name" onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'Name'" (submit)="onSubmit()" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        <button (click)="onEditClick(sensor)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      </form>
    </div>
  </div>
  <!-- <div>
    <div *ngFor="let sensor of sensors;let i=index ">
      <p>{{sensor.sensor_Name}}</p>
      <button (click)="onEditClick(sensor)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div>
  </div> -->
</div>
