.editSensor
  width: 50%
  margin: 0 auto
  margin-top: 2rem
  color: white
  input
    background: transparent
    border: none
    color: white
    margin-bottom: 0
    padding: 0 0.5rem
    &:focus
      border-bottom: 1px solid white
      outline: none
  // .form
  //   margin: 0 auto
  //   width: 50%
  //   form
  //     width: 15rem
  //     input:nth-child(1)
  //       width: 100%
  //       margin-bottom: 1rem
  //     input:nth-child(2)
  //       // float: right
  //       padding: 0.3rem 1rem
  //       font-size: 1rem
  //       &:hover
  //         cursor: pointer
  //         background: white
  div
    margin-top: 4rem
    div
      margin: 1rem
      display: inline-flex
      justify-content: space-evenly
      p
        margin: 0
        font-size: 1.2rem
        font-family: OpenSansLight
      form
        display: inline-flex
      button
        background: #ce5050
        padding: 0.5rem
        &:hover
          background: #d13838
        i
          color: white
