<div class="register">
  <div class="tab"><a href="#" routerLink="/login">Login</a></div>
  <div class="tab active"><a href="#" routerLink="/register">Register</a></div>
  <form #f="ngForm" (ngSubmit)="registerUser(f)">
    <div class="input">
      <label for="userName">Username</label>
      <input
      type="text"
      [(ngModel)]="username"
      name="username"
      #usernameCtrl="ngModel"
      required
      >
      <!-- <span *ngIf="usernameCtrl.invalid && usernameCtrl.touched">Please enter an username</span> -->
    </div>
    <div class="input">
      <label for="userName">Email</label>
      <input
      type="text"
      [(ngModel)]="email"
      name="email"
      #emailCtrl="ngModel"
      required
      >
      <!-- <span *ngIf="emailCtrl.invalid && emailCtrl.touched">Please enter an username</span> -->
    </div>
    <div class="input inputPassword">
      <label>Password</label>
      <input
      type="password"
      [(ngModel)]="password"
       name="password"
       #passwordCtrl="ngModel"
       required
       >
      <!-- <span *ngIf="passwordCtrl.invalid && passwordCtrl.touched">Please enter a password</span> -->
    </div>
    <div class="input inputPassword">
      <label>Confirm Password</label>
      <input
      type="password"
      [(ngModel)]="secondpassword"
       name="secondpassword"
       #passwordCtrl="ngModel"
       required
       >
      <!-- <span *ngIf="passwordCtrl.invalid && passwordCtrl.touched">Please enter a password</span> -->
    </div>
    <div class="input">
      <button type="submit" value="Login">Register</button>
      <!-- <button type="submit" value="Login" [disabled]="f.invalid" ng-class="{'disabled': !f.invalid}">Register</button> -->
    </div>
  </form>
</div>
