.tab
  padding: 1rem 1.5rem
  margin-bottom: 4rem
  width: 35%
  text-align: center
  background: #e3d2d2
  a
    text-decoration: none
    color: white
  &.tab.active
    background: white
    a
      color: grey
      font-family: OpenSansBold
.register
  width: 20rem
  background: white
  padding: 0 3rem 4rem 3rem
  margin: 0 auto
  margin-top: 5rem
  margin-bottom: 3rem
  display: flex
  flex-wrap: wrap
  justify-content: center
  label
    font-weight: bold
    font-size: 0.9rem
    display: block
    width: 90%
    color: #3a3939
input.ng-invalid.ng-touched
  border-bottom: 1px solid #dd9191
input
  display: block
  margin: 0 auto
  width: 70%
  text-align: center
  border: none
  border-bottom: 1px solid #e3d2d2
  line-height: 1.5rem
  margin-bottom: 1rem
  color: #298b56
  font-size: 1.2rem
  padding: 1.2rem 1rem 0.7rem 0.3rem
  margin-bottom: 1.8rem
  font-family: OpenSansLight
  &:focus
    outline: none
    animation: goWide 0.1s linear forwards
    font-size: 1.25rem
    @keyframes goWide
      100%
        width: 85%
span
  font-size: 0.8rem
  margin-left: 2.9rem
  margin-top: -0.8rem
  margin-bottom: 1.5rem
  display: block
  color:  #dd5050
.inputPassword
  input
    font-size: 1.7rem
    font-family: OpenSansRegular
    &:focus
      font-size: 2.0rem
button
  float: right
  margin-top: 1rem
