<div class="sensorDashboardName">
</div>
<div class="sensorsContainer" [dragula]='"whatever"' [dragulaModel]='sensorsF'>
  <app-sensor-reading 
    *ngFor="let sensor of sensorsF;  
    let i = index" 
    [class.testClass]= "i == 0" 
    [sensor]="sensor"
    [attr.data-index] = "sensor.sensor_Name"
    
   
    ></app-sensor-reading>
</div>

<app-connection-indicator *ngIf="showConnectionError"></app-connection-indicator>
<!-- [class]="getSize(sensor.sensor_Reading_Txt)" line 10 -->