.sensorDashboardName
  display: none
  text-align: center
  padding: 0.5rem
  margin: 0
  height: 2rem
  color: white
  h1
    font-weight: normal
    padding: 0
    margin: 0
.sensorsContainer
  display: grid
  grid-template-columns: repeat(var(--colNum), auto)
  // grid-template-rows:  repeat(var(--rowNum), var(--gridHeight))
  // grid-template-rows:  repeat(var(--rowNum), auto)
  text-align: center
  grid-gap: 1%
  height: calc(100vh - 1rem)
  width: 100vw
  box-sizing: border-box
  padding: 1rem 2rem
  h2
    margin: 0
  h3
    margin: 0
.smallSize
  grid-column-end: span 1       
  grid-row-end: span 1      
.mediumSize
  grid-column-end: span 2       
  grid-row-end: span 2  
.bigSize
  grid-column-end: span 4       
  grid-row-end: span 4  
.line
  width: 100%
  display: inline-flex
  justify-content: space-around
  align-items: center

.sensor
  display: flex
  flex-direction: column
  margin-right: 1%
  width: 99%
  height: 85%
  max-width: 12rem
  max-height: 12rem
  justify-content: center
  align-items: center
  overflow: hidden
  background: white
  border-radius: 6px
  box-shadow: 0 0 1rem #a29191
  text-align: center
.sensor.active
  background: #343738
  h2, h3
    color: white
.date
  display: flex
  width: 50%
  justify-content: space-around
  margin-top: 10%
  p
    color: #9e9d9d
    margin: 0

.cold
    background-image: linear-gradient(to right, #4892AA, #467F92)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.medium
  // color: #43C291
  background-image: linear-gradient(to right, #43C291, #6B9C79)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.hot
  // color: #CF5361
  background-image: linear-gradient(to right, #CE6965, #CF5361)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.date
  display: inline-flex

// 4Ks
@media only screen and (min-width: 2600px)
  .sensor
    max-width: 30rem
    max-height: 30rem
    font-size: 3rem

.gu-mirror
  position: fixed !important
  margin: 0 !important
  z-index: 9999 !important
  opacity: 0.8
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
  filter: alpha(opacity = 80)

.gu-hide
  display: none !important

.gu-unselectable
  -webkit-user-select: none !important
  -moz-user-select: none !important
  -ms-user-select: none !important
  user-select: none !important

.gu-transit
  opacity: 0.2
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"
  filter: alpha(opacity = 20)
