<div class="navbar">
  <ul>
    <li>
      <a href="#" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    </li>
    <li>
      <a *ngIf="user.getUserLoggedIn()" href="#" routerLink="/list" routerLinkActive="active-link"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Sensors</a>
    </li>
  </ul>
  <ul>
    <li *ngIf="!user.getUserLoggedIn()">
      <a href="#" routerLink="/login" routerLinkActive="active-link">Login/Register</a>
    </li>
    <li>
      <a *ngIf="user.getUserLoggedIn()" (click)="onLogoutClick()" href="#" >Logout</a>
    </li>
  </ul>
</div>
