.navbar
  width: 100%
  background: white
  margin: 0
  display: flex
  justify-content: space-between
  box-shadow: 0rem 0rem 1rem #3b7d3b
  font-family: OpenSansLight
  list-style-type: none
  display: none
  ul
    list-style: none
    display: inline-flex
  a
    text-decoration: none
    color: #3a3939
    margin-right: 1rem
