    <ul [dragula]='"whatever"'>
      <li>task 1: create a new angular project using npm</li>
      <li>task 2: move into your project folder</li>
      <p>task 3: install ng2-dragula component in your angular project</p>
      <div>task 4: import the module in the app module and add it to the NgModule imports</div>
      <div>task 5: in the app component import the Dragula service, inject it into the constructor and set dragula options</div>
      <div>task 6: in the app template, add the html code with the property dragula and use the customized css classes</div>
    </ul>
