<div class="login">
  <div class="tab active"><a href="#" routerLink="/login">Login</a></div>
  <div class="tab"><a href="#" routerLink="/register">Register</a></div>
  <form #f="ngForm" (ngSubmit)="loginUser(f)">
    <div class="input">
      <label for="userName"><i class="fa fa-user-o" aria-hidden="true"></i>
Username</label>
      <input
      type="text"
      [(ngModel)]="username"
      name="username"
      #usernameCtrl="ngModel"
      required
      >
      <span *ngIf="usernameCtrl.invalid && usernameCtrl.touched">Please enter an username</span>
    </div>
    <div class="input inputPassword">
      <label><i class="fa fa-lock" aria-hidden="true"></i> Password</label>
      <input
      type="password"
      [(ngModel)]="password"
       name="password"
       #passwordCtrl="ngModel"
       required
       >
      <span *ngIf="passwordCtrl.invalid && passwordCtrl.touched">Please enter a password</span>
    </div>
    <div class="input">
      <button type="submit" value="Login" [disabled]="f.invalid" ng-class="{'disabled': !f.invalid}">Login</button>
    </div>
  </form>
</div>
