<div class="sensor" (click)="sensor.isActive = !sensor.isActive" [ngClass]="{active: sensor.isActive}">
  <div>
    <!-- <span class="handle"></span> -->
  <div [ngClass]="getTempClass(sensor)">
    <h2>{{sensor.sensor_Reading_Dec}}°C <i [ngClass]="getTempIcon(sensor)" aria-hidden="true"></i></h2>
    <h3>{{sensor.sensor_Name}}</h3>
  </div>
  <div class="date">
    <p>{{sensor.sensor_Reading_CreateDate |  date:'dd/MM'}}</p>
    <p>{{sensor.sensor_Reading_CreateDate |  date:'hh:mm a'}}</p>
  </div>
</div>
</div>