\:host
  // outline: 1px solid yellow
  grid-column-start: auto
  grid-row-start: auto
  margin: var(--margin)
  //black
  // border: 1px solid #b7b7a6
  background: radial-gradient(#3c3b3b, #202020)
  color: #3b8f61
  //white
  // background: white
  // border: none
  // color: #3b8f61
  // box-shadow: 0 2px 12px 0 #dfe3eb
  display: flex
  justify-content: center
  align-items: center
  border-radius: 6px
  // box-shadow: 0 0 1rem #a29191
  text-align: center
  font-size: var(--fontSize)
  // &:nth-child(1)
    // grid-area: 1 / 1 / span 2 / span 2
  // &:nth-child(2)
  //   grid-area: 1 / 3 / span 5 / span 5
  // &.testClass
  //   grid-row-end: span 2
  //   grid-column-end: span 3
  //   background: red
  // &.testId
  //   background: pink
span.handle
  content: '....'
  width: 27px
  height: 20px
  display: inline-block
  overflow: hidden
  line-height: 5px
  padding: 3px 4px
  cursor: move
  vertical-align: middle
  margin-top: -.7em
  margin-right: .3em
  font-size: 12px
  font-family: sans-serif
  letter-spacing: 1px
  color: #cccccc
  text-shadow: 1px 0 1px black
  float: right
  &::after
    content: '.. .. .. .. .. .. .. ..'
       
// .handle
//   display: flex
//   justify-content: center
//   background: white
//   padding: 0.2rem
//   width: 1rem
//   height: 1rem
//   align-content: baseline
//   align-items: center
//   color: black
//   box-shadow: 0 2px 0.1rem #383838
//   position: absolute
//   margin-left: 1rem
//   margin-top: -1rem
//   border-radius: 3px
//   &:hover
//     cursor: pointer 
h2
  margin: 0
  font-size: var(--fontSizeTemperature)
h3
  margin: 0
  font-weight: normal
  padding-top: 2%
  font-family: "OpenSansLight"
.sensor
  width: 99%
.sensor.active
  background: #343738
  h2, h3
    color: white
.date
  display: flex
  width: 100%
  justify-content: space-around
  margin-top: 4%
  p
    color: #a4abb3
    font-family: "OpenSansLight"
    margin: 0

.cold
  color: #7dade3

.medium
  color: #43C291

.hot
  color: #f45757

.date
  display: inline-flex


.gu-mirror
  position: fixed !important
  margin: 0 !important
  z-index: 9999 !important
  opacity: 0.8
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
  filter: alpha(opacity = 80)

.gu-hide
  display: none !important

.gu-unselectable
  -webkit-user-select: none !important
  -moz-user-select: none !important
  -ms-user-select: none !important
  user-select: none !important

.gu-transit
  opacity: 0.2
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"
  filter: alpha(opacity = 20)
