
\:host
  background: #f02f2f
  position: absolute
  z-index: 100
  width: 100%
  height: 100%
  top: 0
  right: 0
  display: flex
  justify-content: center
  align-items: center
  div
    display: flex
    flex-flow: column
    h1
      font-size: 4rem
      text-align: center
      color: white
      margin-bottom: 5rem
    img
      width: 20vw
      text-align: center
      margin: 0 auto
// div
//   position: absolute
//   bottom: 0
//   right: 10%
//   background: #d3fff7
//   padding: 0 1rem
//   border-radius: 4px 4px 0 0
//   box-shadow: 0 0 1rem #b0b0b
//   i
//     padding-left: 0.3rem
// .online
//   color: green
// .offline
//   color: white
//   right: 30%
//   background: #e14242
//   i
//     color: #ffff5d
