/* You can add global styles to this file, and also import other style files */
@font-face
  font-family: "OpenSansRegular"
  src: url('app/fonts/OpenSans-Regular.ttf') format("truetype")

@font-face
  font-family: "OpenSansBold"
  src: url('app/fonts/OpenSans-Bold.ttf') format("truetype")

@font-face
  font-family: "OpenSansLight"
  src: url('app/fonts/OpenSans-Light.ttf') format("truetype")
html
  box-sizing: border-box

body
  margin: 0
  padding: 0
  // black
  background: #413f3f

  //light
  // background: #ebeff5

  font-family: "OpenSansRegular"

button
  padding: 0.8rem 2rem
  background: #4aa272
  color: white
  border: none
  font-weight: bolder
  border-radius: 1px
  &:hover
    cursor: pointer
    background: #298b56
button:disabled
  background: #f0a9a9
  cursor: not-allowed

.active-link
  font-family: OpenSansRegular
  font-weight: bold
  color: #085018 !important

input
  display: block
  margin: 0 auto
  text-align: center
  border: none
  border-bottom: 1px solid #e3d2d2
  line-height: 1.5rem
  margin-bottom: 1rem
  color: #298b56
  font-size: 1.2rem
  padding: 1.2rem 1rem 0.7rem 0.3rem
  margin-bottom: 1.8rem
  font-family: OpenSansLight
  box-sizing: border-box
  &:focus
    outline: none
    font-size: 1.25rem
//
// i
//   color: #4aa272

\:root
  --rowNum: 1
  --colNum: 10
  --gridHeight: 5px
  --fontSize: 1rem
  --fontSizeTemperature: 1rem
  --margin: 9px
  --border: 1px
